<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="register.css" rel="stylesheet" />
    <title>Register</title>
</head>

<body>
    <div id="login-box">
        <div class="center">
            <h1>Sign up</h1>

            <form class="in">
                <input type="text" name="username" placeholder="Username" />
                <input type="text" name="email" placeholder="E-mail" />
                <input type="password" name="password" placeholder="Password" />
                <input type="password" name="password2" placeholder="Retype password" />
            </form>

            <input type="submit" name="signup_submit" value="Sign me up" />
        </div>
    </div>
</body>

</html>