<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="login.css">
	<title>Sign in</title>
</head>

<body>
	<div id="login-box">
		<div class="center">
			<h1>Sign in</h1>

			<form class="in">
				<input class="un" type="text" placeholder="Username">
				<input class="un" type="password" placeholder="Password">

				<input class="submit" type="submit" name="signup_submit" value="Sign in" />
				<br />
				<br />
				<br />
				<a class="forgot" href="#">Forgot Password?</a>
			</form>
		</div>
	</div>

</body>

</html>