body {
    margin: 0;
    padding: 0;
    background: #ddd;
    font-size: 16px;
    color: #222;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background-color: #f3ebf6;
    font-family: "Ubuntu", sans-serif;
}

#login-box {
    position: relative;
    margin: 5% auto;
    width: 600px;
    height: 400px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    align-content: center;
    border-radius: 1.5em;
}

.center {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 600px;
    height: 400px;
    text-align: center;
}

h1 {
    margin: 20px 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

.in {
    display: block;
}

.un {
    left: 50%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 450px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #aaa;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

.submit {
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: #16a085;
    border: none;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
    border-radius: 1.5em;
}

.forgot {
    margin-bottom: 20px;
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #e1bee7;
    padding-top: 15px;
}
