<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Social Network</title>
</head>

<body>
    <nav class="container fixed-top">
        <div class="row">
            <div style="width: 70%; display: flexbox;">
                <div class="center-inline">
                    <input class="icon" type="image" src="../../image/facebook.png" alt="icon_facebook" />
                    <input style="margin-left: 10px;" type="search" placeholder="Tìm kiếm trên facebook">
                </div>
            </div>
            <div style="width: 10%; display: flex;" class="center-inline">
                <div>
                    <input class="icon" type="image" src="../../image/avatar.jpg" alt="avatar">
                </div>
                <div style="margin-left: 5px; margin-top: 8px; ">
                    <span style="font-weight: 400; font-size: 20px;">Đỗ</span>
                </div>
            </div>
            <div style="width: 20%; display: flexbox; margin-right: 40px;">
                <div class="right-inline">
                    <input class="icon" type="image" src="../../image/home.png" alt="home" />


                    <input onclick="message()" class="icon message" type="image" src="../../image/message.png"
                        alt="message" />
                    <div id="message-id" class="message-content">
                        <p style="margin-left: 10px; font-size: 25px; font-weight: 600;"> Message </p>
                        <input class="message-search" style="margin-left: 10px; width: 95%;" type="search"
                            placeholder="Tìm kiếm trên Message">

                        <div class="message-notification">
                            <div>
                                <input class="icon-medium" type="image" src="../../image/avatar.jpg" alt="avatar">
                            </div>
                            <div style="margin-top: 2px; margin-bottom: 10px; margin-left: 10px; cursor: pointer;">
                                <p style="font-size: 20px; font-weight: 400; margin-top: 5px; margin-bottom: 5px;">Đỗ
                                    Thế Duy</p>
                                <p style="font-weight: 400; font-size: 15px; margin-top: 5px; margin-bottom: 5px; ">
                                    tin nhắn cuối tin nhắn cuối tin - 1 phút
                                </p>
                            </div>
                        </div>

                        <div class="message-notification">
                            <div>
                                <input class="icon-medium" type="image" src="../../image/avatar.jpg" alt="avatar">
                            </div>
                            <div style="margin-top: 2px; margin-bottom: 10px; margin-left: 10px; cursor: pointer;">
                                <p style="font-size: 20px; font-weight: 400; margin-top: 5px; margin-bottom: 5px;">Đỗ
                                    Thế Duy</p>
                                <p style="font-weight: 400; font-size: 15px; margin-top: 5px; margin-bottom: 5px; ">
                                    tin nhắn cuối tin nhắn cuối tin - 1 phút
                                </p>
                            </div>
                        </div>

                        <div class="message-notification">
                            <div>
                                <input class="icon-medium" type="image" src="../../image/avatar.jpg" alt="avatar">
                            </div>
                            <div style="margin-top: 2px; margin-bottom: 10px; margin-left: 10px; cursor: pointer;">
                                <p style="font-size: 20px; font-weight: 400; margin-top: 5px; margin-bottom: 5px;">Đỗ
                                    Thế Duy</p>
                                <p style="font-weight: 400; font-size: 15px; margin-top: 5px; margin-bottom: 5px; ">
                                    tin nhắn cuối tin nhắn cuối tin - 1 phút
                                </p>
                            </div>
                        </div>
                    </div>

                    <input onclick="notification()" class="icon notification" type="image"
                        src="../../image/notification.png" alt="notification" />
                    <div id="notification-id" class="notification-content">
                        <p style="margin-left: 10px; font-size: 25px; font-weight: 600;"> Thông báo </p>

                        <div style="width: 90%; display: flex;">
                            <div>
                                <input class="icon-medium" type="image" src="../../image/avatar.jpg" alt="avatar">
                            </div>
                            <div style="margin-left: 5px; margin-top: 2px; margin-bottom: 10px;">
                                <a href="#" style="font-weight: 400; font-size: 20px; padding: 0px;">
                                    thông báo thông báo thông báo thông báo thông báo thông báo thông báo thông báo
                                    thông báo thông báo
                                </a>
                                <pre style="margin-top: 5px;"> 1 phút</pre>
                            </div>
                        </div>

                        <div style="width: 90%; display: flex;">
                            <div>
                                <input class="icon-medium" type="image" src="../../image/avatar.jpg" alt="avatar">
                            </div>
                            <div style="margin-left: 5px; margin-top: 2px; margin-bottom: 10px;">
                                <a href="#" style="font-weight: 400; font-size: 20px; padding: 0px;">
                                    thông báo thông báo thông báo thông báo thông báo thông báo thông báo thông báo
                                    thông báo thông báo
                                </a>
                                <pre style="margin-top: 5px;"> 1 phút</pre>
                            </div>
                        </div>

                        <div style="width: 90%; display: flex;">
                            <div>
                                <input class="icon-medium" type="image" src="../../image/avatar.jpg" alt="avatar">
                            </div>
                            <div style="margin-left: 5px; margin-top: 2px; margin-bottom: 10px;">
                                <a href="#" style="font-weight: 400; font-size: 20px; padding: 0px;">
                                    thông báo thông báo thông báo thông báo thông báo thông báo thông báo thông báo
                                    thông báo thông báo
                                </a>
                                <pre style="margin-top: 5px;"> 1 phút</pre>
                            </div>
                        </div>

                    </div>

                    <input onclick="menu()" class="icon-small menu" type="image" src="../../image/menu.png"
                        alt="menu" />
                    <div id="menu-id" class="menu-content">
                        <div style="display: flex; margin-left: 2%; margin-top: 10px;">
                            <div>
                                <input class="icon-large" type="image" src="../../image/avatar.jpg" alt="avatar">
                            </div>
                            <div>
                                <p style="font-size: 20px; margin-top: 5px; margin-bottom: 5px; font-weight: 500;">Đỗ
                                    Thế Duy
                                </p>
                                <p style="font-size: 15px; margin-top: 5px; margin-bottom: 5px; font-weight: 200;">Xem
                                    trang cá nhân của
                                    bạn</p>
                            </div>
                        </div>
                        <hr style="width: 90%;">

                        <div class="menu-choice">
                            <div>
                                <input style="margin-top: 5px;" class="icon-small" type="image"
                                    src="../../image/setting.png" alt="setting">
                            </div>
                            <div style="margin-left: 5px; margin-top: 8px; ">
                                <span style="font-weight: 400; font-size: 20px;">Cài đặt</span>
                            </div>
                        </div>

                        <div class="menu-choice">
                            <div>
                                <input style="margin-top: 5px;" class="icon-small" type="image"
                                    src="../../image/logout.png" alt="logout">
                            </div>
                            <div style="margin-left: 5px; margin-top: 8px; ">
                                <span style="font-weight: 400; font-size: 20px;">Đăng xuất</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </nav>

    <div class="container-content">
        <div class="flush">
            <div class="post">
                <div style="width: 80%; display: flex; margin-top: 10px; margin-left: 10px;">
                    <div style="margin-left: 10%;">
                        <input class="icon-large" type="image" src="../../image/avatar.jpg" alt="avatar">
                    </div>
                    <div class="post-new" onclick="onModal()">
                        <p
                            style="font-weight: 100; font-size: 20px; text-align: center; margin-top: 8px; margin-bottom: 0px;">
                            Đỗ ơi bạn đang nghĩ gì thế?
                        </p>
                    </div>
                </div>
                <hr style="width: 90%; margin-top: 10px; margin-bottom: 10px;">
            </div>

            <div style="width: auto; height: 20px; background-color: lavender;"></div>

            <div class="page">
                <div style="display: flex; margin-left: 3%; margin-top: 10px;">
                    <div>
                        <input class="icon-large" type="image" src="../../image/avatar.jpg" alt="avatar">
                    </div>
                    <div>
                        <p style="font-size: 20px; margin-top: 5px; margin-bottom: 5px; font-weight: 500;">Đỗ Thế Duy
                        </p>
                        <p style="font-size: 12px; margin-top: 5px; margin-bottom: 5px;">time</p>
                    </div>
                </div>
                <div>
                    <p style="margin-left: 3%;">status</p>
                    <img class="center" src="../../image/su57-dautien.jpg" alt="menu">
                </div>
                <div class="row " style="margin-top: 5px;">
                    <div style="width: 50%; display: flex; ">
                        <div style="margin-left: 15%;">
                            <input class="icon-small" type="image" src="../../image/like.png" alt="like">
                        </div>
                        <div>
                            <span style="font-weight: 100; font-size: 15px; margin-left: 10px;">1</span>
                        </div>
                    </div>
                    <div style="display: flexbox; width: 50%;">
                        <div class="right-inline" style="margin-right: 20%;">
                            12 bình luận
                        </div>
                    </div>
                </div>
                <hr style="width: 90%;">
                <div class=" row center-inline" style="width: 80%; display: flex;">
                    <div style="width: 50%; display: flex; ">
                        <div style="margin-left: 40%;">
                            <input class="icon-small" type="image" src="../../image/notlike.png" alt="like">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 20px; margin-left: 10px;">Thích</span>
                        </div>
                    </div>
                    <div style="width: 50%; display: flex; ">
                        <div style="margin-left: 40%;">
                            <input class="icon-small" type="image" src="../../image/comment.png" alt="like">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 20px; margin-left: 10px;">Bình luận</span>
                        </div>
                    </div>
                </div>
                <hr style="width: 90%;">
                <div style="width: 90%;" class="center-inline row">
                    <p>Xem thêm bình luận</p>
                    <div style="display: flex; margin-left: 3%; margin-top: 10px;">
                        <div>
                            <input class="icon-small" type="image" src="../../image/avatar.jpg" alt="avatar">
                        </div>
                        <div style="background-color: white; margin-left: 5px; margin-right: 5px; border-radius: 10px;">
                            <p
                                style="font-size: 15px; margin-top: 5px; margin-bottom: 2px; font-weight: 300; margin-left: 10px; margin-right: 10px;">
                                Đỗ Thế Duy
                            </p>
                            <p
                                style="margin-left: 10px; margin-right: 10px; margin-top: 2px; margin-bottom: 5px; word-wrap: break-word;">
                                commentaa mahsgjas sdygysdk skjdks ahgfas aks a,sjhdaj akshka ahdkba ajska aushida
                                audhai
                            </p>
                        </div>
                        <div
                            style="margin-left: 5px; margin-right: 30px; margin-top: 5px; font-size: 12px; font-weight: 200; word-wrap: normal;">
                            <pre>1 phút</pre>
                        </div>
                    </div>
                    <div style=" display: flexbox; margin-top: 5px; margin-bottom: 5px;">
                        <div>

                            <input class="icon-small" type="image" src="../../image/avatar.jpg" alt="avatar">
                            <input style="width: 90%; margin-left: 5px;" type="search" placeholder=" Viết bình luân">
                        </div>
                    </div>
                </div>

            </div>

            <div style="width: auto; height: 20px; background-color: lavender;"></div>

            <div class="page">
                <div style="display: flex; margin-left: 3%; margin-top: 10px;">
                    <div>
                        <input class="icon-large" type="image" src="../../image/avatar.jpg" alt="avatar">
                    </div>
                    <div>
                        <p style="font-size: 20px; margin-top: 5px; margin-bottom: 5px; font-weight: 500;">Đỗ Thế Duy
                        </p>
                        <p style="font-size: 12px; margin-top: 5px; margin-bottom: 5px;">time</p>
                    </div>
                </div>
                <div>
                    <p style="margin-left: 3%;">status</p>
                    <img class="center" src="../../image/su57-dautien.jpg" alt="menu">
                </div>
                <div class="row " style="margin-top: 5px;">
                    <div style="width: 50%; display: flex; ">
                        <div style="margin-left: 15%;">
                            <input class="icon-small" type="image" src="../../image/like.png" alt="like">
                        </div>
                        <div>
                            <span style="font-weight: 100; font-size: 15px; margin-left: 10px;">1</span>
                        </div>
                    </div>
                    <div style="display: flexbox; width: 50%;">
                        <div class="right-inline" style="margin-right: 20%;">
                            12 bình luận
                        </div>
                    </div>
                </div>
                <hr style="width: 90%;">
                <div class=" row center-inline" style="width: 80%; display: flex;">
                    <div style="width: 50%; display: flex; ">
                        <div style="margin-left: 40%;">
                            <input class="icon-small" type="image" src="../../image/notlike.png" alt="like">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 20px; margin-left: 10px;">Thích</span>
                        </div>
                    </div>
                    <div style="width: 50%; display: flex; ">
                        <div style="margin-left: 40%;">
                            <input class="icon-small" type="image" src="../../image/comment.png" alt="like">
                        </div>
                        <div>
                            <span style="font-weight: 200; font-size: 20px; margin-left: 10px;">Bình luận</span>
                        </div>
                    </div>
                </div>
                <hr style="width: 90%;">
                <div style="width: 90%;" class="center-inline row">
                    <p>Xem thêm bình luận</p>
                    <div style="display: flex; margin-left: 3%; margin-top: 10px;">
                        <div>
                            <input class="icon-small" type="image" src="../../image/avatar.jpg" alt="avatar">
                        </div>
                        <div style="background-color: white; margin-left: 5px; margin-right: 5px; border-radius: 10px;">
                            <p
                                style="font-size: 15px; margin-top: 5px; margin-bottom: 2px; font-weight: 300; margin-left: 10px; margin-right: 10px;">
                                Đỗ Thế Duy
                            </p>
                            <p
                                style="margin-left: 10px; margin-right: 10px; margin-top: 2px; margin-bottom: 5px; word-wrap: break-word;">
                                commentaa mahsgjas sdygysdk skjdks ahgfas aks a,sjhdaj akshka ahdkba ajska aushida
                                audhai
                            </p>
                        </div>
                        <div
                            style="margin-left: 5px; margin-right: 30px; margin-top: 5px; font-size: 12px; font-weight: 200; word-wrap: normal;">
                            <pre>1 phút</pre>
                        </div>
                    </div>
                    <div style=" display: flexbox; margin-top: 5px; margin-bottom: 5px;">
                        <div>

                            <input class="icon-small" type="image" src="../../image/avatar.jpg" alt="avatar">
                            <input style="width: 90%; margin-left: 5px;" type="search" placeholder=" Viết bình luân">
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <div>
                    <span class="close">&times;</span>
                    <h2 style="text-align: center;">Tạo bài viết</h2>
                </div>
                <hr style="width: 90%; margin-left: 5%;">
                <div>
                    <div style="display: flex; margin-left: 3%; margin-top: 10px;">
                        <div>
                            <input class="icon-large" type="image" src="../../image/avatar.jpg" alt="avatar">
                        </div>
                        <div>
                            <p style="font-size: 20px; margin-top: 5px; margin-bottom: 5px; font-weight: 500;">
                                Đỗ Thế Duy
                            </p>
                            <button onclick="auth()" class="btn-security auth">
                                Công khai
                            </button>
                            <div id="auth-id" class="auth-content">
                                <p>Công khai</p>
                                <p>Bạn bè</p>
                                <p>Bạn bè ngoại trừ</p>
                                <p>Chỉ mình tôi</p>
                                <p>Bạn bè cụ thể</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <textarea style="margin: 10px; border-radius: 5px; width: 95%; height: 100px; font-size: 18px;"
                            placeholder="Đỗ ơi, bạn đang nghĩ gì thế?"></textarea>

                        <input type="image" class="icon-small" src="../../image/image.png" alt="image"
                            style="float: right; margin-right: 20px; display: block;">
                    </div>
                </div>
                <br>
                <div>
                    <Button class="btn-post">Đăng</Button>
                </div>
            </div>

        </div>
    </div>

    <script>
        var span = document.getElementsByClassName("close")[0];
        var modal = document.getElementById("myModal");

        span.onclick = function () {
            modal.style.display = "none";
        }

        function onModal() {
            console.log("modal");
            modal.style.display = "block";
        }

        function notification() {
            document.getElementById("notification-id").classList.toggle("show");
        }

        function message() {
            document.getElementById("message-id").classList.toggle("show");
        }

        function menu() {
            document.getElementById("menu-id").classList.toggle("show");
        }

        function auth() {
            document.getElementById("auth-id").classList.toggle("show");
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }

            if (!event.target.matches('.auth')) {
                var dropdowns = document.getElementsByClassName("auth-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }

            if (!event.target.matches('.notification')) {
                var dropdowns = document.getElementsByClassName("notification-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
            if (!event.target.matches('.menu')) {
                var dropdowns = document.getElementsByClassName("menu-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
            if (!event.target.matches('.message') && !event.target.matches('.message-search')) {
                var dropdowns = document.getElementsByClassName("message-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</body>

</html>